{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Sw Runes{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container">
            <ul class="nav">
                {% show_menu 0 100 100 100 %}
            </ul>
            {% block content %}
                {% placeholder "content" %}
            {% endblock content %}
        </div>
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/script.js' %}"></script>
        {% render_block "js" %}
    </body>
</html>
